@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    font-family: 'Gabarito', sans-serif;
    font-size: 18px;
}

body h1 {
    border-bottom: 1px solid;
    margin-bottom: 0;
}

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

::backdrop {
    background: rgba(0, 0, 0, .5);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

form input, form select {
    margin-bottom: 20px;
}

dialog {
    border: none;
    border-radius: 5px;
}

button {
    font-family: 'Gabarito', sans-serif;
}

#library {
    margin-bottom: 5px;
}

#removeBtn {
    margin-right: 5px;
    color: darkred;
}